html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
  #nav_bar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-between;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  }
  #logo {
    display: flex;
    width: 70%;
    margin-left: 50px;
  }
  #nav_bar h1 {
    text-align: center; /* Aligns the text within the header in the center */
  }
  .cool-heading {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #ff6600;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  nav img {
    width: 31px;
    height: 27.28px;
    margin-left: 20px;
  }
  .showcase {
    display: flex;
    width: 100%;
    height: fit-content;
    background-image: url(/images/774615.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10vh;
  }
  .title {
    margin: 30vh 5vh 0vh 5vh;
  }
  #welcome {
    width: fit-content;
    color: #ff6600;
    font-weight: bold;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the blur radius as needed */
  }
  #desc_2 {
    margin-top: 0%;
    margin-bottom: 0%;
    width: fit-content;
    color: #ff6600;
    font-size: 64px;
    font-family: "Roboto", sans-serif;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the blur radius as needed */
  }
  .description p {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 16px;
    margin: 5vh 5vh 0vh 5vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .date {
    width: fit-content;
    height: 20vh;
  }
  .part1 {
    justify-content: left;
    color: #595959;
    font-family: "Gothic A1", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: -1.6px;
    color: white;
    font-size: 24px;
    margin: 10vh 5vh 2vh 5vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .part2 {
    color: #868686;
    font-family: "Gothic A1", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    margin: 1vh 5vh 0vh 5vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .MainProgram {
    display: flex;
    background-image: url(/images/wp7773228-abstract-4k-iphone-11-wallpapers.jpg);
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: center;
  }

  .title1 {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.8px;
    margin: 10vh 0vh 5vh 0vh;
  }
  .MainProgram hr {
    display: flex;
    width: 30px;
    color: #a04038;
  }
  .Program {
    display: flex;
    width: 80%;
    margin: 1vh 5vh;
    backdrop-filter: blur(10px);
    align-items: center;
  }
  .Program img {
    width: 57.085px;
    height: 51.733px;
    padding: 20px;
  }
  .classtitle-1 {
    color: #ff5438;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.143px;
    padding: 20px;
  }
  .desc-3 {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.299px;
    letter-spacing: 0.642px;
  }
  #Jp {
    padding: 20px 50px;
    margin-bottom: 5vh;
    background: #ff4f38;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: -0.16px;
  }
  .Sponsors {
    background-image: url(/images/frame.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sponsor {
    display: flex;
    width: 80%;
    margin: 1vh 5vh;
    align-items: center;
  }
  .sponsor img {
    width: 107px;
    height: 106.399px;
  }
  .desc_4 {
    margin: 0vh 5vh;
  }
  .name {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
  }
  .designation {
    color: #f78c89;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.2px;
  }
  .add_desc {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.54px;
  }
  .more {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.55px;
    border-radius: 10px;
  }
  .icon {
    width: 20px; /* Set the desired width */
    height: 20px;
    padding-left: 20px;
    }
    .hidden {
      display: none;
    }
}
