html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .titlebar {
    display: none;
  }

  .nav_elements {
    display: none;
  }

  .firstbod {
    background-image: url(/images/frames1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .cool-button {
    text-decoration: none;
  }

  #menu {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #868686;
    z-index: 9999;
    position: fixed;
  }

  #navbar {
    display: block;
  }

  .mob_menu {
    background: transparent;
    border: none;
  }

  #nav_bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }

  .menu_item {
    margin-bottom: 20px;
  }

  .menu_item a {
    display: block;
    padding: 10px;
    font-family: "lato", sans-serif;
    color: #fff;
    font-size: 32px;
    text-decoration: none;
  }

  #menu_items {
    padding: 40px;
  }

  .menu_item a:hover {
    background-color: #fff;
    color: #000;
  }

  #logo {
    display: flex;
    width: 70%;
    margin-left: 50px;
  }

  .exit {
    border: none;
    background: transparent;
    font-family: "lato", sans-serif;
    font-size: 20px;
  }

  .close {
    display: flex;
    justify-content: flex-end;
  }

  #nav_bar h1 {
    text-align: center; /* Aligns the text within the header in the center */
  }

  .cool-heading {
    display: none;

    /* font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #f60;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  }

  nav img {
    width: 31px;
    margin-left: 20px;
  }

  .title {
    display: flex;
    margin: 0 5vh 0 5vh;
    flex-direction: column;
    align-items: center;
  }

  #welcome {
    width: fit-content;
    color: #f60;
    font-weight: bold;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
  }

  #desc_2 {
    margin-top: 0%;
    margin-bottom: 0%;
    width: fit-content;
    color: #f60;
    font-size: 64px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .description {
    margin: 10vh 10vh 0 10vh;
  }

  .description p {
    color: #000;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.84px;
  }

  .contact {
    display: flex;
    margin: 15vh 15vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10vh;
  }

  .part1 {
    color: #7a7a7a;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }

  .email {
    color: #5f5f5f;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.24px;
  }

  .part2 {
    margin: 15vh 15vh;
  }

  hr {
    width: 100%;
    height: 2px;
    background-color: silver;
  }

  .part2 hr {
    width: 35px;
    height: 2px;
    background-color: #a04038;
    border: none;
  }

  .desc5 {
    color: #2c2c2c;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.4px;
  }

  .desc6 {
    color: #838383;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.48px;
  }

  #desc_7 {
    color: orangered;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10vh 10vh 20vh 10vh;
  }

  .past_events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .desc7 {
    color: #2c2c2c;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
  }

  .past_events hr {
    width: 35px;
    height: 2px;
    background-color: #a04038;
    border: none;
  }

  .date {
    color: orangered;
    font-family: "Lato", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.4px;
  }

  .place {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.4px;
  }

  .past_events1 {
    display: flex;
    background-image: url(/images/11239552_web1_G2E_100818cb_009.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 60%;
    margin: 10vh 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
  }

  .past_events2 {
    display: flex;
    background-image: url(/images/636691794192693053--gamers-E3-20150107.jpg);
    width: 90%;
    height: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10vh 10vh;
  }

  .partners {
    display: flex;
    background: #414246;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
  }

  .partners hr {
    width: 35px;
    height: 2px;
    background-color: #a04038;
    border: none;
  }

  .partners img {
    width: 200px;
    height: 150px;
    margin: 0 5vh;
  }

  .desc8 {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
  }

  .credits {
    width: 90%;
    margin: 10vh 10vh;
    display: flex;
    color: #3b3e45;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.078px;
    letter-spacing: -0.1px;
    justify-content: space-evenly;
  }

  .credits img {
    margin: 0 5vh;
    width: 135px;
    height: 31.985px;
  }
}

@media only screen and (min-width: 769px) {
  #menu {
    display: none;
  }

  #mobmenu {
    display: none;
  }

  .firstbod {
    background-image: url(/images/frames1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .titlebar {
    background: #3e3e3e;
  }

  .elements {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
  }

  .elements img {
    margin: 2vh 2vh;
    flex-shrink: 0;
  }

  .elements p {
    margin: 0 2vh;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .elements a {
    text-decoration: none;
    color: #fff;
    margin: 0 2vh;
  }

  #logo {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }

  .cool-heading {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #f60;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .cool-button {
    text-decoration: none;
    margin-left: 5vh;
  }

  .nav_elements {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 5vh;
    justify-content: flex-end;
  }

  .nav_elements a {
    text-decoration: none;
    margin: 0 5vh;
    color: #868686;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .title {
    display: flex;
    margin: 0 5vh 0 5vh;
    flex-direction: column;
    align-items: center;
  }

  #welcome {
    width: fit-content;
    color: #f60;
    font-weight: bold;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
  }

  #desc_2 {
    margin-top: 0%;
    margin-bottom: 0%;
    width: fit-content;
    color: #f60;
    font-size: 64px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .description {
    display: flex;
    justify-content: center; /* Aligns content horizontally in the center */
    align-items: center; /* Aligns content vertically in the center */
    margin: 10vh 10vh;
  }

  .description p {
    color: #000;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.84px;
    width: 50%;
  }

  .contact {
    display: flex;
    margin: 15vh 15vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10vh;
  }

  .part1 {
    color: #7a7a7a;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }

  .email {
    color: #5f5f5f;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.24px;
  }

  .part2 {
    display: flex;
    margin: 15vh 15vh;
    flex-direction: column;
    align-items: center;
  }

  hr {
    width: 100%;
    height: 2px;
    background-color: silver;
  }

  .part2 hr {
    width: 35px;
    height: 2px;
    background-color: #a04038;
    border: none;
  }

  .desc5 {
    color: #2c2c2c;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.4px;
  }

  .desc6 {
    width: 50%;
    color: #838383;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.48px;
  }

  #desc_7 {
    color: orangered;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10vh 10vh 20vh 10vh;
  }

  .past_events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .desc7 {
    color: #2c2c2c;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
  }

  .past_events hr {
    width: 35px;
    height: 2px;
    background-color: #a04038;
    border: none;
  }

  .date {
    color: orangered;
    font-family: "Lato", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.4px;
  }

  .place {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.4px;
  }

  .pe {
    display: flex;
    width: 100%;
  }

  .past_events1 {
    display: flex;
    background-image: url(/images/11239552_web1_G2E_100818cb_009.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 60%;
    margin: 10vh 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
  }

  .past_events2 {
    display: flex;
    background-image: url(/images/636691794192693053--gamers-E3-20150107.jpg);
    width: 90%;
    height: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10vh 10vh;
  }

  .partners {
    display: none;
  }

  .desc8 {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
  }

  .credits {
    background-color: #414246;
    width: 90%;
    padding: 10vh 10vh;
    display: flex;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.078px;
    letter-spacing: -0.1px;
    justify-content: space-evenly;
  }

  .credits img {
    margin: 0 5vh;
    width: 135px;
    height: 31.985px;
    filter: invert(100%);
  }
}
